<div class="days">
  <div class="container">
    <% @days.each do |day| %>
      <div id="menuList">
      <%= button_to day.weekday, day_path(day), remote: true, method: "get" %>
      <% end %>
      </div>
    <%= link_to "Back to Profile", profile_dir_path(@user), method: "get" %>
  </div>
</div>

